:root{
    --basecolor:#000000;
    --textcolor:white;
}
*{
    box-sizing: border-box;
}

body{
    font-style: normal;
    line-height: 1.5;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    background-color: white
}
.container{
    border: 1px solid black;
}
img {
    vertical-align: middle;
    border-style: none;
}


/* Header */
.Header{
    background-image: url(../image/background.jpg) ;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
    position: relative;
    z-index: 1;
}
.Header:after{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-color: #07212e;
    z-index: -1;
    opacity: 0.6;
}
#logo{
    padding: 6px 0;
    float: left;
    position: absolute;
}
#logo img{
    width: 150px;
}
/* Menubar */
.Header .Menubar{
    margin-left: 45px;
    padding: 0;
    list-style: none;
    font-family: 'Open Sans', sans-serif;

}
.Menubar li{
    color: #fff;
    display: inline-block;
    position: relative;
    font-weight: 700;
    padding: 15px;
}
.Menubar li:hover{
     color: #F28123;
}
#icon{
    margin-left: 50%;
    font-weight: 700;
}
#icon .fa{
    color: #fff;
    padding: 15px;
    transition: 0.3s all;
    font-weight: 700;
}






